.box1{
  width: 80vw;
  height: 25vh;
  border: solid black 5px;
  margin: 25px auto ;
  display:flex;

}
.shape1{
  height: 70%;
  width: 4%;
  background-color: #8A2BE2;
  
  margin-top: auto;
  margin-left: 2%;
  margin-bottom: 1%;
  margin-right: 2%
  
  
}

.shape2{
  width: 40%;
  height: 90%;
  background-color: #228B22;
  margin-top: auto;
  margin-left: 2%;
  margin-bottom: 1%;
  margin-right: 2% ;
  
}

.shape3{

  height: 90%;
  width: 16%;
  background-color: #87CEEB;
  border-radius: 50%;
  margin-left: 8%;
  margin-top: auto;
  margin-left: 4%;
  margin-bottom: 1%;
  margin-right: 2% ;

}





.box2{
  width: 80vw;
  height: 30vh;
  border: dotted black 4px;
  margin: 25px auto ;

}

.rectangle{
  max-width: 90%;
  min-height: 80%;
  background-color: #FFFACD;
  margin: auto;
  box-shadow: 5px 5px 5px grey;
  margin-left: 8%;
  margin-top: 1%;
  margin-left: 4%;
  margin-bottom: 1%;
  margin-right: 2% ;
  
}




.box3{
  color: #000080;
  font-size: 50px;
  box-shadow: 5px 5px 5px grey;
  text-align: center;
  vertical-align: middle;
  width: 20vw;
  height: 25vh;
  border: solid black 2px;
  margin: 25px auto ;
}

.greeting{
  width: 20vw;
  height: 10vh;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 5vh;
  letter-spacing: 7px;
}