*{
  padding: 0;
  margin: 0;
  
}


.top{
  height: 25vh;
  width: 100vw;
  background-color: #444444;
}


.middle{
  display:flex;
  
  height: 75vh;
  width: 100vw;
  background-color: red;
}
.center-section{
  display: flex;
  flex-direction: column;
  flex-grow: 7;
}
.center{
  height: 65vh;
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
}

.bar{
  background-color: #D8D8D8;
  flex-grow: 1
}
.bottom{
  height: 10vh;
  display: flex;
  background-color: rgb(44, 39, 39);
}




